fastapi
uvicorn

# Selenium
selenium==4.40.0

# Data handling
pandas
numpy==1.26.4
openpyxl

# Requests / utils
requests
dnspython
python-dotenv

# PDF / OCR (only if you actually use them)
PyPDF2
pdfplumber
pdf2image
pytesseract
pillow

webdriver-manager==4.0.2
    
